# CityBikes

In [3]:
import requests
import pandas as pd
from pprint import pprint

### Send a request to CityBikes for the city of your choice.

Approach - using the `/network_id` endpoint for London directly

In [1]:
# url for endpoint for London network
url = 'https://api.citybik.es/v2/networks/santander-cycles'

In [4]:
response = requests.get(url)
response

In [5]:
bike_data = response.json()
# print(pprint(bike_data))

### Parse through the response to get the details you want for the bike stations in that city (latitude, longitude, number of bikes).

In [6]:
# To get the details of each station in London city
london_stations = pd.json_normalize(bike_data['network']['stations'])
london_stations

,id,name,latitude,longitude,timestamp,free_bikes,empty_slots,extra.uid,extra.name,extra.terminalName,extra.locked,extra.installed,extra.temporary,extra.installDate,extra.removalDate
0,001420f03e8b4f08f1bcc9bdc0260651,"300073 - Prince of Wales Drive, Battersea Park",51.475154,-0.159170,2025-07-27T19:18:43.569553+00:00Z,20,0,756,"Prince of Wales Drive, Battersea Park",300073,False,True,False,1390223040000,
1,004cab6485d7adb50b6a85cbe152399a,"003447 - Gloucester Road (North), Kensington",51.497925,-0.183835,2025-07-27T19:18:43.158444+00:00Z,9,8,97,"Gloucester Road (North), Kensington",003447,False,True,False,1279097580000,
2,00531c4ce0f2e75ef2cebf19f1a6c1e3,"200213 - Durant Street, Bethnal Green",51.528682,-0.065550,2025-07-27T19:18:43.564034+00:00Z,16,5,702,"Durant Street, Bethnal Green",200213,False,True,False,1384345860000,
3,0191ad8ece6d587cff8369b58327aacb,"003488 - Charles II Street, West End",51.508446,-0.131961,2025-07-27T19:18:43.211798+00:00Z,1,22,226,"Charles II Street, West End",003488,False,True,False,1279616520000,
4,01995d3d3cff733f43d7809d397b3a7e,"001126 - North Audley Street, Mayfair",51.512912,-0.153645,2025-07-27T19:18:43.204852+00:00Z,1,16,180,"North Audley Street, Mayfair",001126,False,True,False,1279298220000,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,fefbd80de948379a493be17f28907a2c,"200071 - Hoxton Street, Hoxton",51.529590,-0.080100,2025-07-27T19:18:43.424589+00:00Z,4,21,588,"Hoxton Street, Hoxton",200071,False,True,False,1330937820000,
796,ff26abff5db37c1b3563bd0c430476b2,"003442 - Abingdon Villas, Kensington",51.497388,-0.197246,2025-07-27T19:18:43.152624+00:00Z,5,11,38,"Abingdon Villas, Kensington",003442,False,True,False,1278584880000,
797,ff29665797070bd57a6f6fab26ea5f1f,"002680 - Harrowby Street, Marylebone",51.517372,-0.164208,2025-07-27T19:18:43.253034+00:00Z,11,4,367,"Harrowby Street, Marylebone",002680,False,True,False,,
798,ffb92bc589f72ac1783e5696b0714e01,"003462 - Royal Avenue 2, Chelsea",51.490083,-0.162418,2025-07-27T19:18:43.236587+00:00Z,6,4,280,"Royal Avenue 2, Chelsea",003462,False,True,False,1279726440000,
799,ffed1f8b73ecaad1a851050b9632e0c7,"001184 - St. Mary Axe, Aldgate",51.514225,-0.080660,2025-07-27T19:18:43.234233+00:00Z,3,16,263,"St. Mary Axe, Aldgate",001184,False,True,False,1279712160000,

### Put your parsed results into a DataFrame.

In [15]:
# to get the name, longitude, latitude and number of free bikes per station in 
city_bikes = london_stations[['extra.name', 'longitude', 'latitude', 'free_bikes', 'empty_slots', 'extra.uid']]
city_bikes

,extra.name,longitude,latitude,free_bikes,empty_slots,extra.uid
0,"Prince of Wales Drive, Battersea Park",-0.159170,51.475154,20,0,756
1,"Gloucester Road (North), Kensington",-0.183835,51.497925,9,8,97
2,"Durant Street, Bethnal Green",-0.065550,51.528682,16,5,702
3,"Charles II Street, West End",-0.131961,51.508446,1,22,226
4,"North Audley Street, Mayfair",-0.153645,51.512912,1,16,180
...,...,...,...,...,...,...
795,"Hoxton Street, Hoxton",-0.080100,51.529590,4,21,588
796,"Abingdon Villas, Kensington",-0.197246,51.497388,5,11,38
797,"Harrowby Street, Marylebone",-0.164208,51.517372,11,4,367
798,"Royal Avenue 2, Chelsea",-0.162418,51.490083,6,4,280
799,"St. Mary Axe, Aldgate",-0.080660,51.514225,3,16,263

In [16]:
# Save city bikes dataframe
city_bikes.to_pickle("city_bikes.pkl")